@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    background-color: v.$verde;

        .contenido-header {
            padding: 2rem;
            @include m.tablet{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }   
           
        }
        

        h1 {
            color: v.$blanco;
            text-align: center;
            @include m.tablet{  
                text-align: left;
                margin: 0;     //Esto hace que el h1 no tenga margen
            }
       
        }
}

.navegacion-principal {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @include m.tablet{
                flex-direction: row;
            }
            a {
                color: v.$blanco;
                text-decoration: none;
                font-size: 2.4rem;
                padding: 1rem;
                margin: 0 2rem;
                border-radius: 0.5rem;
                transition: all 0.3s ease-in-out;
                @include m.tablet{
                    &:hover { //El & hace que no tengas un problema con el css cuando utilizas hover
                        background-color: v.$morado;
                        color: v.$blanco;
                        transition: all 0.3s ease-in-out;
                }
                }
              
            }
            
        }

@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header-contenedor {
    @include contenedor; //Normamente deja un "()" a lo ultimo parte, pero si deseas puedes dejarlo o borrarlo, no afecta en quello.
}
.nav-contenedor {
    @include contenedor;
}

